body {
    background: none !important;
    font-size: 20px;
}

#app {
    padding: 25px;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(44, 44, 44);
    height: 1000px;
    width: 1800px;
    border: 2px solid #ff4081;
    border-radius: 7px;
}

#pedCard {
    padding: 30px;
    border-radius: 7px;
    border: 2px solid #ffffff;
    font-size: 20px;
}

.input-group-text,
.item,
.option,
#pedsNumberInput,
input#modelSelect-ts-control,
input#weaponsSelect-ts-control,
input#scenariosSelect-ts-control
{
    font-size: 20px;
}

#relationSelect {
    font-size: 20px;
}

.nav-link {
    color: #888888;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #000000;
    background-color: #E9EEEF;
    border-color: rgba(0, 0, 0, 0);
}

.nav-pills>li>a {
    border-radius: 0;
}

.form-check-input:checked {
    background-color: #ff4081 !important;
    border-color: #ff4081 !important;
}

.transparent {
    background: rgba(0, 0, 0, 0) !important;
    color: #ffffff !important;
}

.scrollable {
    height: 900px !important;
    overflow-y: scroll;
}

.btn {
    font-size: 20px !important;
}

.btn-fuchsia {
    background-color: #ff4081;
    color: #ffffff;
}

.col-quantity {
    width: 200px !important;
}

input[type="range"] {
    accent-color: #ff4081;
}

@media  screen and (max-width: 1366px) {
    #app {
        padding: 25px;
        color: white;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(44, 44, 44);
        height: 750px;
        width: 1350px;
        border: 2px solid #ff4081;
        border-radius: 7px;
    }

    .scrollable {
        height: 650px !important;
        overflow-y: scroll;
    }
}